<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
</head>
<body>
    <h1>
        Assignment 1
    </h1>
    <a href="add.html">Add</a>
    <a href="login.html">Login</a>
    <h2>List of Places I woud like to Visit</h2>
    <ol>
        <li>USA</li>
        <li>France</li>
        <li>Germany</li>
        <li>Japan</li>
        <li>The Caribbean</li>
        <li>Morocco</li>
        <li>Canada</li>
        <li>Antarctica</li>
        <li>Yukoslavia</li>
        <li>The Moon</li>
    </ol>
    <p>
        I picked these places mainly for my curisosity. The one I am most 
        serious about is the USA because I would love to visit every state and 
        spend my time wandering around. The rest of the top 5 are all places
        I would like to spend a few months in just to experience the culture
        of these places. Morocco and Canada alslo fall into this category, just 
        not as much as the others. The last three are all places that I feel like I 
        would never really visit but if the moment arises, I would welcome the chance
    </p>
</body>
</html>