<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static server Using Epress</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id='container'>
        <h1>Express Static Website Example</h1>
        <nav>
            <a href='#'>Home</a>
            <a href='about.html'>About</a>
            <a href='contact.html'>Contact</a>
        </nav>
        <img src="/images/anchor.jpg" alt="Ron" width=400>
        <div style='width:400px;'>
            <p>Reprehenderit dolore quis aute aliqua non officia sit eu ullamco.</p>
        </div>
    </div>
</body>

</html>